body {
  background-color: darksalmon;
  font-family: 'Sigmar One', cursive;
  overflow-y: scroll;
}

#pomodoro-container {
  width: 550px;
  height: 420px;
  border-radius: 10px;	
  background-color: white;

  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
  
}

span {
  font-size: xx-large;
  font-family: 'Montserrat Subrayada', sans-serif;
}

header {
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  
}

#tomato {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTDnWL8S2wxKpTNnFueFEEURgwq5QuF6jJzWQYbV8YUnVJfh-I&usqp=CAU);
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}

#timer {
  margin: auto;
  display: inline-block;
}

i {
font-size: x-large;
text-align: center;
}

.right-div {
  margin: auto;
  display: inline-block;
  text-align: center;  
}

#timer-label {
  font-family: 'Sigmar One', cursive;
  font-size: 40px;  
  color: white;
}

#time-left {
  font-size: 60px;
  color: white;
}

.lowerI {
  color: white;
  font-size: xx-large;
}


@media screen and (max-width: 575px) {	
  
  #pomodoro-container {
    height: 100%;
    width: 90%;
    top: 10%;
    position: unset;
    margin-bottom: 20px;


  }

  .right-div {
    padding: 35px;
  }

  header {
    font-size: 40px;
  }
  
  
}